In [2]:
# one  must be common in both dataFrames
import pandas as pd
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"A": [1, 2, 3,4], "C": [10, 20, 30, 40]})
pd.merge(a, b, on="A")

   A  B   C
0  1  5  10
1  2  6  20
2  3  7  30
3  4  8  40

In [3]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"A": [1, 2, 5, 6], "C": [10, 20, 30, 40]})
pd.merge(a, b, on="A")

   A  B   C
0  1  5  10
1  2  6  20

In [6]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"A": [1, 2, 5, 6], "C": [10, 20, 30, 40]})
# pd.merge(a, b, how = 'left')
# pd.merge(a, b, how = 'right')
pd.merge(a, b, how = 'outer')
#  --> outer me C k according kry ga
# --> inner by defalut hy
# --> a left pr hy , b right pr

   A    B     C
0  1  5.0  10.0
1  2  6.0  20.0
2  3  7.0   NaN
3  4  8.0   NaN
4  5  NaN  30.0
5  6  NaN  40.0

In [7]:
# --> indicator tells which can be merged
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"A": [1, 2, 5, 6], "C": [10, 20, 30, 40]})
pd.merge(a, b, how = 'outer', indicator= True)

   A    B     C      _merge
0  1  5.0  10.0        both
1  2  6.0  20.0        both
2  3  7.0   NaN   left_only
3  4  8.0   NaN   left_only
4  5  NaN  30.0  right_only
5  6  NaN  40.0  right_only

In [10]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"A": [1, 2, 5, 6], "B": [10, 20, 30, 40]})
# agr same ko show krna tou
# pd.merge(a, b, left_index= True, right_index = True)
# to chg cols name
pd.merge(a, b, left_index= True, right_index = True, suffixes=("name", "id"))
#

   Aname  Bname  Aid  Bid
0      1      5    1   10
1      2      6    2   20
2      3      7    5   30
3      4      8    6   40

In [12]:
#----------> concat
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([6, 7, 8, 9, 10])
pd.concat([a, b])

0     1
1     2
2     3
3     4
4     5
0     6
1     7
2     8
3     9
4    10
dtype: int64

In [14]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"A": [1, 2, 5, 6], "C": [10, 20, 30, 40]})
pd.concat([a,b])

   A    B     C
0  1  5.0   NaN
1  2  6.0   NaN
2  3  7.0   NaN
3  4  8.0   NaN
0  1  NaN  10.0
1  2  NaN  20.0
2  5  NaN  30.0
3  6  NaN  40.0

In [15]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"A": [1, 2, 5, 6], "C": [10, 20, 30, 40]})
pd.concat([a,b], axis = 1)

   A  B  A   C
0  1  5  1  10
1  2  6  2  20
2  3  7  5  30
3  4  8  6  40

In [18]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"A": [1, 2, 5, 6], "C": [5, 6, 30, 40]})
pd.concat([a,b], join='inner')

   A
0  1
1  2
2  3
3  4
0  1
1  2
2  5
3  6

In [20]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"A": [1, 2, 5, 6], "C": [10, 20, 30, 40]})
pd.concat([a,b], axis = 1, keys = ["d1", "d2"])
# --keys = merging data ki keys bna skty

  d1    d2
   A  B  A   C
0  1  5  1  10
1  2  6  2  20
2  3  7  5  30
3  4  8  6  40

In [23]:
a = pd.DataFrame({"k": [1, 2, 3,4]})
b = pd.DataFrame({"A": [1, 2, 5, 6], "C": [10, 20, 30, 40]})
pd.concat([a,b])

     k    A     C
0  1.0  NaN   NaN
1  2.0  NaN   NaN
2  3.0  NaN   NaN
3  4.0  NaN   NaN
0  NaN  1.0  10.0
1  NaN  2.0  20.0
2  NaN  5.0  30.0
3  NaN  6.0  40.0