In [8]:
import pandas as pd
a = pd.DataFrame({"A": ["a", "b", "c", "b", "c",  "d", "a", "a" ], "S_1": [10,11, 12, 10, 11, 12,13, 15], "S_2": [16, 17, 18, 19, 20, 21, 20, 22]})
b = a.groupby("S_1")
for x, y in b:
    print(x)
    print(y)
    print(" ")

10
   A  S_1  S_2
0  a   10   16
3  b   10   19

11
   A  S_1  S_2
1  b   11   17
4  c   11   20

12
   A  S_1  S_2
2  c   12   18
5  d   12   21

13
   A  S_1  S_2
6  a   13   20

15
   A  S_1  S_2
7  a   15   22

In [11]:
b.get_group(15)

   A  S_1  S_2
7  a   15   22

In [12]:
b.max()

     A  S_2
S_1
10   b   19
11   c   20
12   d   21
13   a   20
15   a   22

In [14]:
c = list(b)
c
# now we can apply lists functions on it

[(10,
     A  S_1  S_2
  0  a   10   16
  3  b   10   19),
 (11,
     A  S_1  S_2
  1  b   11   17
  4  c   11   20),
 (12,
     A  S_1  S_2
  2  c   12   18
  5  d   12   21),
 (13,
     A  S_1  S_2
  6  a   13   20),
 (15,
     A  S_1  S_2
  7  a   15   22)]