In [7]:
import pandas as pd
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"C": [11, 12, 13,14], "D": [10, 20, 30, 40]})
a.join(b)

   A  B   C   D
0  1  5  11  10
1  2  6  12  20
2  3  7  13  30
3  4  8  14  40

In [10]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]}, index = ['a', 'b', 'c', 'd'])
b = pd.DataFrame({"C": [11, 12], "D": [10, 20]}, index = ['a', 'b'])
a.join(b)
# agr sirf b me index de gy tou A ki value ko NaN kr de ga

   A  B     C     D
a  1  5  11.0  10.0
b  2  6  12.0  20.0
c  3  7   NaN   NaN
d  4  8   NaN   NaN

In [12]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]}, index = ['a', 'b', 'c', 'd'])
b = pd.DataFrame({"C": [11, 12], "D": [10, 20]}, index = ['a', 'b'])
a.join(b, how='inner')
# outer is like union

   A  B   C   D
a  1  5  11  10
b  2  6  12  20

In [20]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]}, index = ['a', 'b', 'c', 'd'])
b = pd.DataFrame({"C": [11, 12], "B": [10, 20]}, index = ['a', 'b'])
a.join(b, how='inner', lsuffix='_12')

   A  B_12   C   B
a  1     5  11  10
b  2     6  12  20

In [23]:
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]}, index = ['a', 'b', 'c', 'd'])
b = pd.DataFrame({"C": [11, 12], "B": [10, 20]}, index = ['a', 'b'])
a.join(b, how='inner', rsuffix='_12')

   A  B   C  B_12
a  1  5  11    10
b  2  6  12    20

In [ ]:
# In 'join', when column names are the same, it throws an error, so suffixes are required to distinguish them.
# 'append' does not operate in this manner.
a = pd.DataFrame({"A": [1, 2, 3,4], "B": [5, 6, 7, 8]})
b = pd.DataFrame({"C": [11, 12], "B": [10, 20]})
a.append(b)
# removed